<!-- Modal -->
<div class="modal fade" id="keywordsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-display="<%= display_modal_keywords ? 'show' : 'false' %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= brand.name %> reviews keywords</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Here are the main keywords we found:</p>
        <% brand.nlps.last(3).each do |nlp|%>
          <br>
          <a id="link-<%= nlp.keyword.gsub(/\s/, "-") %>" data-bs-toggle="collapse" href="#collapse<%= nlp.keyword.gsub(/\s/, "-") %>" role="button" aria-expanded="false" aria-controls='collapse<%= nlp.keyword.gsub(/\s/, "-") %>'><h1 class="keyword-modal">"<%= nlp.keyword %>"</h1></a>
          <div class="collapse" id="collapse<%= nlp.keyword.gsub(/\s/, "-") %>">
            <div class="sentiment-card-modal">
              <div>
                General sentiment: <br>
                <strong><%= nlp.sentiment_label %></strong> <br>
                <% if nlp.sentiment_score >= 0 %>
                  <sl-progress-ring size="160" stroke-width="10" percentage=<%= nlp.sentiment_score * 100 %> > <%= (nlp.sentiment_score * 100).round(1) %> % </sl-progress-ring>
                <% else %>
                  <sl-progress-ring style="--track-color: #ffe2c6; --indicator-color: tomato;" size="180" stroke-width="10" percentage=<%= nlp.sentiment_score * 100 %> > <%= (nlp.sentiment_score * 100).round(1) %> % </sl-progress-ring>
                <% end %>
              </div>
              <div class="emotions-parent" >
                Emotions:
                <div class="emotions">
                  Sadness
                  <div class="progress">
                    <div id="sadness-bar-<%= nlp.keyword.gsub(/\s/, "-") %>" style="width: <%= nlp.sadness * 100 %>%" class="progress-bar bg-info" role="progressbar" data-width="<%= nlp.sadness * 100 %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "#{(nlp.sadness * 100).round(1)}%" unless nlp.sadness < 0.15 %></div>
                    <p><%= "#{(nlp.sadness * 100).round(1)}%" unless nlp.sadness >= 0.15 %></p>
                  </div>
                  Joy
                  <div class="progress">
                    <div id="joy-bar-<%= nlp.keyword.gsub(/\s/, "-") %>" style="width: <%= nlp.joy * 100 %>%" class="progress-bar" role="progressbar" data-width="<%= nlp.joy * 100 %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "#{(nlp.joy * 100).round(1)}%" unless nlp.joy < 0.15 %></div>
                    <p><%= "#{(nlp.joy * 100).round(1)}%" unless nlp.joy >= 0.15 %></p>
                  </div>
                  Fear
                  <div class="progress">
                    <div id="fear-bar-<%= nlp.keyword.gsub(/\s/, "-") %>" style="width: <%= nlp.fear * 100 %>%" class="progress-bar bg-warning" role="progressbar" data-width="<%= nlp.fear * 100 %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "#{(nlp.fear * 100).round(1)}%" unless nlp.fear < 0.15 %></div>
                    <p><%= "#{(nlp.fear * 100).round(1)}%" unless nlp.fear >= 0.15 %></p>
                  </div>
                  Disgust
                  <div class="progress">
                    <div id="disgust-bar-<%= nlp.keyword.gsub(/\s/, "-") %>" style="width: <%= nlp.disgust * 100 %>%" class="progress-bar bg-success" role="progressbar" data-width="<%= nlp.disgust * 100 %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "#{(nlp.disgust * 100).round(1)}%" unless nlp.disgust < 0.15 %></div>
                    <p><%= "#{(nlp.disgust * 100).round(1)}%" unless nlp.disgust >= 0.15 %></p>
                  </div>
                  Anger
                  <div class="progress">
                    <div id="anger-bar-<%= nlp.keyword.gsub(/\s/, "-") %>" style="width: <%= nlp.anger * 100 %>%" class="progress-bar bg-danger" role="progressbar" data-width="<%= nlp.anger * 100 %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "#{(nlp.anger * 100).round(1)}%" unless nlp.anger < 0.15 %></div>
                    <p><%= "#{(nlp.anger * 100).round(1)}%" unless nlp.anger >= 0.15 %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <br>
        <p>Click on one of them to get the sentiment and emotions</p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
