<div class="container-index">
  <h3>Brands</h3>

  <% if @brands == [] || @brands.nil? %>

  <p class="no-results-text"><em>No results found...</em><p>

  <br>

  <div class="request-btn-placement">

    <button type="button" class="request-btn" id="add-request" data-toggle="modal" data-target="#requestModal">
      Request information for this brand
    </button>

    <%= render "/shared/modalrequest", request: @request, display_modal_request: @display_modal_request %>

    <br><br>
    <%= link_to "Return on the homepage", root_path, class: "return-link" %>

  </div>

  <% else %>

  <div class="all-cards">
    <% @brands.each do |brand| %>
      <div class="card-product">

        <div class="logo-box">
          <img class="logo-image-index" src=<%= brand.logo %> />
        </div>
        <div class="card-product-infos">
          <p id="brand-name"><%= link_to brand.name, brand_path(brand) %></p>
          <p>Overall score : <%= brand.overall_score.to_f.round(1)%>/5 </p>
          <div class="container-tags">
            <% brand.categories.each do |category| %>
              <p class="tag"> <%= category.name.capitalize %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% end %>


</div>


