<div class="container-index">
  <h3>Brands</h3>

  <% if @brands == [] || @brands.nil? %>

  <p class="no-results-text"><em>No results found...</em><p>

  <br>

  <div class="request-btn-placement">

    <button type="button" class="request-btn" id="add-request" data-toggle="modal" data-target="#requestModal">
      Request information for this brand
    </button>

    <%= render "/shared/modalrequest", request: @request, display_modal_request: @display_modal_request %>

    <br><br>
    <%= link_to "Return on the homepage", root_path, class: "return-link" %>

  </div>

  <% else %>

  <select class="filter-btn" name="category" id="select-filter">
    <option value="All">All Categories</option>
    <% @categories.each do |category| %>
      <option value="<%= category.name %>" <% if params[:category] === category.name %>selected="selected"<% end %> ><%= category.name.capitalize %></option>
    <% end %>
  </select>

  <select class="filter-btn" name="sort-by" id="select-sorting">
    <option value="All">Sort by</option>
    <option value="A-Z">A-Z</option>
    <option value="Z-A">Z-A</option>
    <option value="Higher score">Higher score</option>
    <option value="Lower score">Lower score</option>
  </select>


<!--
  <div class="filter-category">
    <label for="category-select"><strong>Categories </strong></label><br>
    <div id="category-list" class="dropdown-check-list" tabindex="100">
      <ul class="items dropdown-menu">
        <% @categories.each do |category| %>
          <li class="checkbox-category" data-countryselect="<%= category.name %>"><input type="checkbox"> <%= category.name.capitalize %> </li>
        <% end %>
      </ul>
    </div>
  </div>
-->

  <div class="all-cards" id="cards-div">

    <% @brands.each do |brand| %>
      <div class="card-product" data-name="<%= brand.name %>" data-score="<%= brand.overall_score %>" data-id="<%= brand.id %>">
          <% brand.categories.each do |category| %>
            <div data-category-select="<%= category.name %>"></div>
          <% end %>
          <div>
            <img src=<%= brand.logo %> />
          </div>
          <div class="card-product-infos">
            <p id="brand-name"><%= link_to brand.name, brand_path(brand) %></p>
            <sl-rating class="star-index" precision=".1" readonly value=<%= brand.overall_score %>></sl-rating>
            <span class="rate-index"><%= brand.overall_score.to_f.round(1)%></span>
            <div class="container-tags">
              <% brand.categories.each do |category| %>
                <p class="tag"> <%= category.name.capitalize %></p>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>

  </div>

  <% end %>


</div>
