<br>
<h1><%= @brand.name %></h1>


<h3>Scores</h3>

<p>Overall score : <%= @brand.overall_score.to_f.round(1) %>/5 </p>
<% if @brand.quality_score == nil%>
  <p>Quality score : <i>missing info</i> </p>
  <% else %>
  <p>Quality score : <%= @brand.quality_score  %>/5 </p>
<% end %>
<p>Social score : <%= @brand.social_score %>/5</p>
<p>Environmental score : <%= @brand.environmental_score %>/5 </p>

<br>

<div class="sentiment-card">
  <%= link_to "Get the sentiment of users", brand_brand_analyse_path(@brand) %>
  <div class="">
    <% if @brand.nlp.nil? %>
      <%= "No sentiment for now" %>
    <% else %>
      <div>
        Sentiment: <%= @brand.nlp.sentiment_label %> <br>
        Score:
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @brand.nlp.sentiment_score * 100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.sentiment_score * 100).round(1) %>%</div>
        </div>
      </div>
        Sadness
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @brand.nlp.sadness * 100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.sadness * 100).round(1) %>%</div>
        </div>
        Joy
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @brand.nlp.joy * 100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.joy * 100).round(1) %>%</div>
        </div>
        Fear
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @brand.nlp.fear * 100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.fear * 100).round(1) %>%</div>
        </div>
        Disgust
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @brand.nlp.disgust * 100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.disgust * 100).round(1) %>%</div>
        </div>
        Anger
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @brand.nlp.anger * 100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.anger * 100).round(1) %>%</div>
        </div>
    <% end %>
  </div>
</div>


<% if @toggle == [] %>
  <%= link_to "Add to your favorite", brand_favorites_path(@brand), method: :post%>
<% else %>
  <p>Already a favorite</p>
<% end %>



Reviews

<ul>
  <% @brand.reviews.each do |review| %>
    <li>
      <strong><%= review.title %></strong> - <%= review.score %> <br>
      <%= review.content %>

    </li>
  <% end %>
</ul>

<!-- Button trigger modal -->
<button type="button" class="green-btn" data-toggle="modal" data-target="#exampleModal">
  Add a review
</button>

<%= render "/shared/modalreview", brand: @brand, review: @review %>

<h3>Latest news</h3>

<h3>Discover more brands</h3>


