<div class="container-show">

  <div class="title-show">

    <div class="name-brand-fav">
      <div>
        <h1 class="brand-name-show"><%= @brand.name %></h1>
      </div>

      <div class="favorites-button">
        <% if @toggle == [] %>
          <%= link_to ('<i class="far fa-heart"></i>').html_safe, brand_favorites_path(@brand), method: :post %>
        <% else %>
          <i class="fas fa-heart"></i>
        <% end %>
      </div>
    </div>

    <!-- Button trigger modal -->
    <div>
      <button type="button" class="green-btn" id="add-review" data-toggle="modal" data-target="#reviewModal">
        Add a review
      </button>
    </div>

    <%= render "/shared/modalreview", brand: @brand, review: @review, display_modal: @display_modal %>
  </div>

  <a href=<%= "https://" + @brand.website_url %> target="_blank" ><p><%= @brand.website_url %></p></a>

  <img class="logo-image" src=<%= @brand.logo %> >

  <br>

  <div class="overall-score-container">
    <div class="team-score">
      <p><strong>Our team's score</strong></p>
      <p><%= @brand.overall_score.to_f.round(1) %>/5 </p>
      <sl-rating class="star" precision=".1" readonly value=<%= @brand.overall_score %>></sl-rating>
    </div>

    <div class="consumer-score">
      <p><strong>Our consumer's score</strong></p>

      <% if @brand.consumer_score.nil? %>
        <p class="no-reviews-message">No reviews yet</p>
      <% else %>
        <p><%= @brand.consumer_score.to_f.round(1) %>/5 </p>
        <sl-rating class="star" precision=".1" readonly value=<%= @consumer_score %>></sl-rating>
      <% end %>
    </div>
  </div>

  <br>
  <br>


  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Scores</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <br>
      <div class="tab-container-about">
        <% if @brand.quality_score == nil%>
          <p><strong>Quality score</strong><br>
          <i>missing info</i></p>
        <% else %>
          <p><strong>Quality score</strong><br>
          <%= @brand.quality_score %>/5 <br>
          <sl-rating class="star" precision=".1" readonly value=<%= @brand.quality_score %>></sl-rating></p>
        <% end %>
        <p><strong>Social score</strong>
        <br>
        <%= @brand.social_score %>/5 <br>
        <sl-rating class="star" precision=".1" readonly value=<%= @brand.social_score %>></sl-rating></p>
        <p><strong>Environmental score</strong>
        <br>
        <%= @brand.environmental_score %>/5 <br>
        <sl-rating class="star" precision=".1" readonly value=<%= @brand.environmental_score %>></sl-rating></p>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <br>
      <div class="tab-container">
        <div>
          <div style="height:500px;width:620px;border-bottom:1px solid #ccc;overflow:auto;">
            <ul>
              <% @brand.reviews.reverse.each do |review| %>
                <div class="review-card">
                  <li>
                    <strong><%= review.title %></strong> - <sl-rating class="star" precision=".1" readonly value=<%= review.score %> ></sl-rating><br>
                    <%= review.content %>
                  </li>
                </div>
              <% end %>
            </ul>
          </div>
          <br>
          <button type="button" class="green-btn" id="add-review" data-toggle="modal" data-target="#reviewModal">
            Add a review
          </button>
        </div>


        <div class="sentiment-card">

          <% if @brand.nlp.nil? %>
            <%= "No sentiment for now" %>
          <% else %>
          <div>
            General sentiment: <strong><%= @brand.nlp.sentiment_label %></strong> <br>
            <% if @brand.nlp.sentiment_score >= 0 %>
              <sl-progress-ring size="200" stroke-width="10" percentage=<%= @brand.nlp.sentiment_score * 100 %> > <%= (@brand.nlp.sentiment_score * 100).round(1) %> % </sl-progress-ring>
            <% else %>
              <sl-progress-ring style="--track-color: #ffe2c6; --indicator-color: tomato;" size="200" stroke-width="10" percentage=<%= @brand.nlp.sentiment_score * 100 %> > <%= (@brand.nlp.sentiment_score * 100).round(1) %> % </sl-progress-ring>
            <% end %>
          </div>
          Emotions <br>
          <div class="emotions">
            Sadness
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%= @brand.nlp.sadness * 100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.sadness * 100).round(1) %>%</div>
              </div>
              Joy
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= @brand.nlp.joy * 100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.joy * 100).round(1) %>%</div>
              </div>
              Fear
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: <%= @brand.nlp.fear * 100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.fear * 100).round(1) %>%</div>
              </div>
              Disgust
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: <%= @brand.nlp.disgust * 100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.disgust * 100).round(1) %>%</div>
              </div>
              Anger
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: <%= @brand.nlp.anger * 100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.anger * 100).round(1) %>%</div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <br>



  <h3>Latest news...</h3>

  <h3>Discover more brands...</h3>

    <div class="brand-carrousel all-cards">
      <% @random.each do |brand| %>
      <div class="card-product">
        <div class="card-car">
          <img src=<%= brand.logo %>>
            <div class="card-product-infos">
              <p id="brand-name"><%= link_to brand.name, brand_path(brand) %></p>
              <p>Overall score : <%= brand.overall_score.to_f.round(1)%>/5 </p>
              <div class="container-tags">
                <% brand.categories.each do |category| %>
                  <p class="tag"> <%= category.name.capitalize %></p>
                <% end %>
              </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>



<script  type="text/javascript">
  $(window).on('load', function() {
     $('.brand-carrousel').slick({
    infinite: true,
    slidesToShow: 3,
    centerMode: true,
    slidesToScroll: 3
  });
     //$(".brand-carrousel").show();// your code here
});


</script>




