<div class="container-show">


<div class="section-container">
  <div class="title-show">
    <div class="name-brand-fav">
      <div>
        <h1 class="brand-name-show"><%= @brand.name %></h1>
      </div>

      <div class="favorites-button">
        <% if @toggle == [] %>
          <%= link_to ('<i class="far fa-heart"></i>').html_safe, brand_favorites_path(@brand), method: :post %>
        <% else %>
          <i class="fas fa-heart"></i>
        <% end %>
      </div>
    </div>

    <!-- Button trigger modal -->
    <div>
      <button type="button" class="green-btn" id="add-review" data-toggle="modal" data-target="#reviewModal">
        Add a review
      </button>
    </div>

    <%= render "/shared/modalreview", brand: @brand, review: @review, display_modal: @display_modal %>
  </div>

  <a href=<%= "https://" + @brand.website_url %> target="_blank" ><p><%= @brand.website_url %></p></a>

  <br>

  <div class="overall-score-container">
    <div class="team-score">
      <p><strong>Our team's score</strong></p>
      <sl-rating class="star" precision=".1" readonly value=<%= @brand.overall_score %>></sl-rating>
      <span class="score-number"><%= @brand.overall_score.to_f.round(1)%></span>

    </div>

    <div class="consumer-score">
      <p><strong>Our consumer's score</strong></p>

      <% if @brand.consumer_score.nil? %>
        <br>
        <p class="no-reviews-message">No reviews yet</p>
      <% else %>
      <sl-rating class="star" precision=".1" readonly value=<%= @brand.consumer_score %>></sl-rating>
      <span class="score-number"><%= @brand.consumer_score.to_f.round(1)%></span>
      <% end %>
    </div>
  </div>

</div>

  <br>


  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Detailed Scores</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-news" type="button" role="tab" aria-controls="nav-news" aria-selected="false">Latest News</button>
    </div>
  </nav>

  <div class="tab-content section-container" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <br>
      <center><p><em>Our team's score is computed from those ratings</em></p></center>
      <div class="tab-container-about">


        <% if @brand.quality_score == nil%>
          <p><strong>Quality score</strong><br> <i class="fas fa-check"></i>
          <span class="no-reviews-message"><i>Missing information</i></span></p>
        <% else %>
          <p><strong>Quality score</strong> <i class="fas fa-check"></i>
          <br>
          <sl-rating class="star" precision=".1" readonly value=<%= @brand.quality_score %>></sl-rating>
          <span class="score-number"><%= @brand.quality_score.to_f.round(1)%></span></p>
        <% end %>
        <p><strong>Social score</strong> <i class="fas fa-users"></i>
        <br>
        <sl-rating class="star" precision=".1" readonly value=<%= @brand.social_score %>></sl-rating>
        <span class="score-number"><%= @brand.social_score.to_f.round(1)%></span></p>
        <p><strong>Environmental score</strong> <i class="fas fa-leaf"></i>
        <br>
        <sl-rating class="star" precision=".1" readonly value=<%= @brand.environmental_score %>></sl-rating>
        <span class="score-number"><%= @brand.environmental_score.to_f.round(1)%></span></p>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-news" role="tabpanel" aria-labelledby="nav-news-tab">
      <h3>Latest news...</h3>
      <ul>
        <% @brand.news.each do |element|%>
          <div class="card-news">
            <div class="card-news-info">
              <li> <strong><a href="<%= element.url %>" target="_blank" > <%= element.title %> </a></strong> <br>
              <em><%= DateTime.parse(element.date).strftime("%a %d of %B %Y at %H:%M") %></em> <br>
              <%= element.description %></li>
            </div>
            <img src=<%= element.image_url %>>
          </div>
        <% end %>
      </ul>
      <br>
    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <br>
      <div class="tab-container">
        <div>
          <div style="height:500px;width:620px;border-bottom:1px solid #ccc;overflow:auto;">

              <% if @brand.reviews.length == 0 %>
                <p>No reviews yet...</p>
              <% else %>
                <ul>
                  <% @brand.reviews.reverse.each do |review| %>
                    <div class="review-card">
                      <li>
                        <div class="review-title">
                          <div>
                            <strong><%= review.title %></strong> - <sl-rating class="star-index" precision=".1" readonly value=<%= review.score %> ></sl-rating>
                          </div>
                          <div>
                            <%= link_to ('<i class="far fa-thumbs-up"></i>').html_safe, brand_review_votes_path(@brand, review), method: :post %>
                            <%= review.votes.size %>
                          </div>
                        </div>
                        <div class="review-content">
                          <%= review.content %>
                        </div>

                      </li>
                    </div>
                  <% end %>
                </ul>
              <% end %>
          </div>
          <br>
          <button type="button" class="green-btn" id="add-review" data-toggle="modal" data-target="#reviewModal">
            Add a review
          </button>
        </div>

        <div class="sentiment-card">

          <% if @brand.nlp.nil? %>
            <%= "No sentiment for now" %>
          <% else %>
          <div>
            General sentiment: <strong><%= @brand.nlp.sentiment_label %></strong> <br>
            <% if @brand.nlp.sentiment_score >= 0 %>
              <sl-progress-ring size="200" stroke-width="10" percentage=<%= @brand.nlp.sentiment_score * 100 %> > <%= (@brand.nlp.sentiment_score * 100).round(1) %> % </sl-progress-ring>
            <% else %>
              <sl-progress-ring style="--track-color: #ffe2c6; --indicator-color: tomato;" size="200" stroke-width="10" percentage=<%= @brand.nlp.sentiment_score * 100 %> > <%= (@brand.nlp.sentiment_score * 100).round(1) %> % </sl-progress-ring>
            <% end %>
          </div>
          Emotions <br>
          <div class="emotions">
            Sadness
              <div class="progress">
                <div id="sadness-bar" class="progress-bar bg-info" role="progressbar" data-width="<%= @brand.nlp.sadness * 100 %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.sadness * 100).round(1) %>%</div>
              </div>
              Joy
              <div class="progress">
                <div id="joy-bar" class="progress-bar" role="progressbar" data-width="<%= @brand.nlp.joy * 100 %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.joy * 100).round(1) %>%</div>
              </div>
              Fear
              <div class="progress">
                <div id="fear-bar" class="progress-bar bg-warning" role="progressbar" data-width="<%= @brand.nlp.fear * 100 %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.fear * 100).round(1) %>%</div>
              </div>
              Disgust
              <div class="progress">
                <div id="disgust-bar" class="progress-bar bg-success" role="progressbar" data-width="<%= @brand.nlp.disgust * 100 %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.disgust * 100).round(1) %>%</div>
              </div>
              Anger
              <div class="progress">
                <div id="anger-bar" class="progress-bar bg-danger" role="progressbar" data-width="<%= @brand.nlp.anger * 100 %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@brand.nlp.anger * 100).round(1) %>%</div>
              </div>
             </div>
            <% end %>

        </div>
      </div>
    </div>
  </div>


  <br>



  <h3>Discover more brands...</h3>


  <div class="section-container">

  <div class="brand-carrousel all-cards">
    <% @random.each do |brand| %>
      <div class="card-product">
        <div class="card-car">
          <img src=<%= brand.logo %>>
          <div class="card-product-infos">
            <p id="brand-name"><%= link_to brand.name, brand_path(brand) %></p>
            <p>Overall score : <%= brand.overall_score.to_f.round(1)%>/5 </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>
<br>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript">
    $('.brand-carrousel').slick({
      infinite: true,
      slidesToShow: 3,

      slidesToScroll: 3
    });
  </script>


</div>




