<h1><%= @brand.name %></h1>

<% if @brand.quality_score == nil%>
  <p>Quality score : <i>missing info</i> </p>
  <% else %>
  <p>Quality score : <%= @brand.quality_score  %>/5 </p>
<% end %>
<p>Social score : <%= @brand.social_score %>/5</p>
<p>Environmental score : <%= @brand.environmental_score %>/5 </p>


<% if @toggle.empty? %>
  <%= link_to "Add to your favorite", brand_favorites_path(@brand), method: :post%>
<% else %>
  <p>Already a favorite</p>
<% end %>


