<h1><%= @brand.name %></h1>

<% if @brand.quality_score == nil%>
  <p>Quality score : <i>missing info</i> </p>
  <% else %>
  <p>Quality score : <%= @brand.quality_score  %>/5 </p>
<% end %>
<p>Social score : <%= @brand.social_score %>/5</p>
<p>Environmental score : <%= @brand.environmental_score %>/5 </p>

<!-- Button trigger modal -->
<button type="button" class="green-btn" data-toggle="modal" data-target="#exampleModal">
  Add a review
</button>

<%= render "/shared/modalreview", brand: @brand, review: @review %>
